.wrapper-grid {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 2fr;
	grid-template-rows: 2fr 2fr 1fr;
	height: 560px;
}

.g1 {
	grid-area: 1 / 1 / 1 / 3;
	background: yellow;
	border: 4px solid black;
}

.g2 {
	background: white;
	border-right: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.g3 {
	background: red;
	border-right: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.g4 {
	background: blue;
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.g5 {
	background: red;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.g6 {
	background: white;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.g7 {
	background: blue;
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.g8 {
	background: yellow;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.g9 {
	background: white;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

.g10 {
	background: yellow;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
}

@media only screen and (max-width: 1000px) {

	.g2 {
	grid-area: 1 / 1 / 3 / 3;
	border-right: 4px solid black;
	border-left: 4px solid black;

	}

	.g4 {
	border-left: none;

	}

	.g5 {
	background: yellow;

	}

	.g6 {
	grid-area: 2 / 4 / 2 / 4;
	border-left: none;
	border-right: 4px solid black;

	}

}


@media only screen and (max-width: 500px) {

	.g4 {
	border-top: 4px solid black;	
	grid-area: 1 / 4 / 3 / 4;
	background: yellow;

	}

	.g6 {
	display: none;

	}

	.g7 {
	background: red;

	}

	.g8 {
	display: none;

	}

	.g9 {
	display: none;

	}

	.g10 {
	grid-area: 3 / 2 / 4 / 5;
	background: white;

	}

	.g2 {
	background: blue;

	}


}